* {
  margin: 0px;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(163, 152, 152);
}
.logo-img {
  height: 70px;
}
.nav-items {
  display: flex;
}
ul > li {
  list-style: none;
  padding: 0 30px 0px 10px;
}
.main-section {
  display: flex;
  flex-wrap: wrap;
}
.card-container {
  height: 332px;
  width: 200px;
  margin-top: 20px;
  margin: 10px;
  padding: 3px;
  background-color: rgb(241, 227, 227);
}
.card-img {
  width: 195px;
  padding: 2px;
}
.card-container:hover {
  border: 2px solid black;
  cursor: pointer;
}
.shimmer-bap {
  display: flex;
  flex-wrap: wrap;
}
.shimmer-component {
  height: 332px;
  width: 200px;
  margin-top: 20px;
  margin: 10px;
  padding: 3px;
  background-color: rgb(241, 227, 227);
}
